<div>
  <div>
    <h1>
      List of all offerings
    </h1>
  </div>
</div>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Tags
        </th>

        <th>
          Title
        </th>

        <th>
          Description
        </th>

      

        <th>
          Image
        </th>

      <th>
          Min age
        </th>


        <th>
          Max age
        </th>

        <th>
          Address for pick up
        </th>
   
        <th>
          Price
        </th>
      <th>
          Giver name
        </th>

        <th>
          Giver amail
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
        
      </tr>

      <% @list_of_offerings.each do |an_offering| %>
      <tr>

        <td>
          <%= an_offering.tags.first.category %>
        </td>

        <td>
          <%= an_offering.title %>
        </td>


        <td>
          <%= an_offering.description %>
        </td>



        <td>
          <img src="<%= an_offering.image %>" style="width: 200px" >
        </td>

        <td>
          <%= an_offering.min_age %>
        </td>

          <td>
          <%= an_offering.max_age %>
        </td>

        <td>
          <%= an_offering.address %>
        </td>

         <td>
          <%= an_offering.price %>
        </td>

        <% if an_offering.giver != nil %>
        <td>
          <%= an_offering.giver.first_name %> <%= an_offering.giver.last_name %>
        </td>

        <td>
          <%= an_offering.giver.email%>
        </td>

         <%end%>

        <td>
          <%= time_ago_in_words(an_offering.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_offering.updated_at) %> ago
        </td>

        <td>
          <a href="/offerings/<%= an_offering.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
