<div>
  <div>
    <h2>
      Edit offering
    </h2>

    <form action="/modify_offering/<%= @the_offering.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_offering.title %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_offering.description %></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_offering.image %>">
      </div>

      <div>
        <label for="min_age_box">
          Min age
        </label>

        <input type="text" id="min_age_box" name="query_min_age" value="<%= @the_offering.min_age %>">
     
     
      
        <label for="max_age_box">
          Max age
        </label>

        <input type="text" id="max_age_box" name="query_max_age" value="<%= @the_offering.max_age %>">
      </div>


      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" value="<%= @the_offering.address %>">
      </div>

<div>
        <label for="price_box">
          Price
        </label>

        <input type="text" id="price_box" name="query_price" value="<%= @the_offering.price %>">
      </div>

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" value="<%= @the_offering.date %>">
      </div>

      <div>
        <label for="time_box">
          Time
        </label>

        <input type="time" id="time_box" name="query_time" value="<%= @the_offering.time %>">
      </div>

      <div>
        <label for="tags">
          Tags
        </label>

        <input type="text" id="tags" name="query_tags">
      </div>

      <div>
        <label for="category">
          Category
        </label>

        <%#<input type="text" id="category" name="query_category">%>
     
      <select name="query_category">
      <%Tag.all.order(:category).each do |a_tag|%> 
      <option value= <%=a_tag.id%>>
      <%=a_tag.category%>
      </option>
      <%end%>
      </select>
      </div>

      <div>
        <label for="sub_category">
          Sub Category
        </label>

        <%#<input type="text" id="sub_category" name="query_sub_category">%>
        <%# "toys" needs to be dynamic based on user's choice of category%>
        <select name="query_sub_category">
      <%Tag.where(:category=> "toys").each do |a_tag|%> 
      <option value= <%=a_tag.id%>>
      <%=a_tag.sub_category%>
      </option>
      <%end%>
      </select>
      </div>

      <button>
        Update offering
      </button>
    </form>
  </div>
</div>