<div>
  <div>
    <h1>
      Messages to administrator #<%= @the_messages_to_administrator.id %> details
    </h1>

    <div>
      <div>
        <a href="/messages_to_administrators">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_messages_to_administrator/<%= @the_messages_to_administrator.id %>">
          Delete messages to administrator
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_messages_to_administrator.title %>
      </dd>

      <dt>
        Body
      </dt>
      <dd>
        <%= @the_messages_to_administrator.body %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_messages_to_administrator.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_messages_to_administrator.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_messages_to_administrator.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit messages to administrator
    </h2>

    <form action="/modify_messages_to_administrator/<%= @the_messages_to_administrator.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_messages_to_administrator.title %>">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body"><%= @the_messages_to_administrator.body %></textarea>
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_messages_to_administrator.user_id %>">
      </div>

      <button>
        Update messages to administrator
      </button>
    </form>
  </div>
</div>

<hr>
