<div >
  <h5>
    Edit User Account
  </h5>

  <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
    
      <div>
        <label for="first_name_box">First name</label>
        <input id="first_name_box" name="query_first_name" value="<%= @current_user.first_name %>">
      </div>
      <div>
        <label for="last_name_box">Last name</label>
        <input id="last_name_box" name="query_last_name" value="<%= @current_user.last_name %>">
      </div>
      <div>
        <label for="about_me_box">About me</label>
        <textarea id="about_me_box" name="query_about_me" rows="3"><%= @current_user.about_me %></textarea> 
      </div>
      <div>
        <label for="phone_box">Phone</label>
        <input id="phone_box" name="query_phone" value="<%= @current_user.phone %>">
      </div>
      <div>
        <label for="address_box">Address</label>
        <input id="address_box" name="query_address" value="<%= @current_user.address %>">
      </div>
      <div>
        <label for="kids1_age_box">Kids1 age</label>
        <input id="kids1_age_box" name="query_kids1_age" value="<%= @current_user.kids1_age %>">
      </div>
        <div>
        <label for="kids2_age_box">Kids2 age</label>
        <input id="kids2_age_box" name="query_kids2_age" value="<%= @current_user.kids2_age %>">
      </div>
      <div>
        <label for="kids3_age_box">Kids3 age</label>
        <input id="kids3_age_box" name="query_kids3_age" value="<%= @current_user.kids3_age %>">
      </div>
      <div>
        <label for="kids4_age_box">Kids4 age</label>
        <input id="kids4_age_box" name="query_kids4_age" value="<%= @current_user.kids4_age %>">
      </div>
      <div>
        <label for="kids5_age_box">Kids5 age</label>
        <input id="kids5_age_box" name="query_kids5_age" value="<%= @current_user.kids5_age %>">
      </div>
      <div>
        <label for="kids6_age_box">Kids6 age</label>
        <input id="kids6_age_box" name="query_kids6_age" value="<%= @current_user.kids6_age %>">
      </div>
   
    
      
      

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
