<div >
  <h1>
    <%=@current_user.first_name%> <%=@current_user.last_name%>'s Profile
  </h1>


<div>
<a href="edit_profile_form"> 
Edit my Profile
</a>
</div>

<div>
<h2>
My offerings
</h2>
</div>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Min age
        </th>

        <th>
          Description
        </th>

        <th>
          Image
        </th>

        <th>
          Address
        </th>


        <th>
          Giver
        </th>

        <th>
          Max age
        </th>

        <th>
          Price
        </th>

        <th>
          Date
        </th>

        <th>
          Time
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>


     <% @user_offerings.each do |an_offering| %>
      <tr>
        <td>
          <%= an_offering.id %>
        </td>

        <td>
          <%= an_offering.title %>
        </td>

        <td>
          <%= an_offering.min_age %>
        </td>

        <td>
          <%= an_offering.description %>
        </td>

        <td>
          <img src="<%= an_offering.image %>">
        </td>

        <td>
          <%= an_offering.address %>
        </td>

        <td>
        <% if an_offering.giver.first_name != nil %>
          <%= an_offering.giver.first_name %> <%= an_offering.giver.last_name %>
          <%=else "User no longer exists" %>
          <%end%>
        </td>

        <td>
          <%= an_offering.max_age %>
        </td>

        <td>
          <%= an_offering.price %>
        </td>

        <td>
          <%= an_offering.date %>
        </td>

        <td>
          <%= an_offering.time %>
        </td>

        <td>
          <%= time_ago_in_words(an_offering.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_offering.updated_at) %> ago
        </td>

        <td>
          <a href="/offerings/<%= an_offering.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

