<div >
  <h1>
    <%=@current_user.first_name%> <%=@current_user.last_name%>'s Profile
  </h1>


<div>
<a href="edit_profile_form"> 
Edit my Profile
</a>
</div>

<div>
<h2>
My offerings
</h2>
</div>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Description
        </th>

        <th>
          Image
        </th>

        <th>
          Address
        </th>

        <th>
          Price
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
          # of comments
        </th>

        <th>
        </th>
      </tr>


     <% @user_offerings.each do |an_offering| %>
      <tr>

        <td>
          <%= an_offering.title %>
        </td>

        <td>
          <%= an_offering.description %>
        </td>

        <td>
          <img src="<%= an_offering.image %>", style="width: 200px">
        </td>

        <td>
          <%= an_offering.address %>
        </td>

        <td>
          <%= an_offering.price %>
        </td>

        <td>
          <%= time_ago_in_words(an_offering.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_offering.updated_at) %> ago
        </td>

        <td>
          <%= an_offering.comments_count %>
        </td>

        <td>
          <a href="/offerings/<%= an_offering.id %>">
            Show details
          </a>
        </td>

      

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
<h2>
My comments
</h2>
</div>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Comment
        </th>

        <th>
          Offering title
        </th>

        <th>
          giver (offering)
        </th>

        <th>
        </th>
        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>


     <% @user_comments.each do |a_comment| %>
      <tr>
        <td>
          <%= a_comment.id %>
        </td>

        <td>
          <%= a_comment.body %>
        </td>

        <td>
          <%= a_comment.offering.title %>
        </td>

         <td>
         <% if a_comment.offering.giver != nil %>
          <%= a_comment.offering.giver.first_name %> <%= a_comment.offering.giver.last_name %>
          <%end%>
        </td>

        <td>
          <a href="/offerings/<%=a_comment.offering.id%>"> Related offering </a>
        </td>

        <td>
          <%= time_ago_in_words(a_comment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_comment.updated_at) %> ago
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
