<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
  <nav>
  <div>
<a href="/"> Home </a>
</div>
<div>
<a href="/user_sign_up"> sign up </a>
</div>
<div>
<a href="/user_sign_in"> sign in </a>
</div>
<div>
<a href="/user_sign_out"> sign out </a>
</div>
<div>
<a href="/offerings"> offerings </a>
</div>
<div>
<a href="/comments"> comments </a>
</div>
<div>
<a href="/tags"> tags </a>
</div>
<div>
<a href="/messages_to_administrators"> messages to administrators </a>
</div>
<div>
<a href="/new_offering_form"> Add new offering </a>
</div>


  </nav>
  <%= alert%>
  <%= notice%>
    <%= yield %>
  </body>
</html>
